@media screen and (max-width: 1568px) {

    .swiper-button-prev-products {
        margin-left: 15px;
    }

    .swiper-button-next-products {
        margin-right: 15px;
    }
}

@media screen and (max-width: 675px) {
    .products__categories-list {
        flex-direction: column;
        align-items: flex-start;
    }

    .products {
        .categories-list__item {
            &:not(:last-child) {
                margin: 0 0 10px 0;
            }
        }
    }
}

@media screen and (max-width: 525px) {
    .product-card__confirmation {
        flex-direction: column;
    }

    .product-card__counter {
        margin: 0 0 10px 0;
        justify-content: center;
    }
}


@media screen and (max-width: 320px) {
    .product-card__counter {
        display: none;
    }

    .swiper-button-prev-products,
    .swiper-button-next-products {
        display: none !important;
    }
}