@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

@import '../libs/normalize.css';
@import './_reset.scss';
@import './_vars.scss';

/* /. imports */

html {
    font-size: $font-size;
}

body {
    margin: 0;
    padding: 0;
    background-color: $white-color;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: inherit;
}

.container {
    max-width: 1436px; // 1396 + 20px * 2
    padding: 0 20px !important;
    margin: 0 auto;
}

// 86px

.container-huge {
    @extend .container;
    max-width: 1568px;
    padding: 0 !important;
}

// /. general-styles

.products {
    &__wrapper {
        padding: 80px 0 40px 0;
    }

    &__categories-list {
        margin-bottom: 40px;

        .categories-list__item {
            &:not(:last-child) {
                margin: 0 25px 0 0;
            }
        }
    }

    &__slider-wrapper {
        position: relative;
    }
}

// /. products

.categories-list {
    display: flex;
    align-items: center;

    &__item {
        &:not(:last-child) {
            margin-right: 25px;
        }
    }

    &__item.active {
        .categories-list__link {
            text-transform: uppercase;
            font-size: 34px;
            font-weight: 700;
            color: $dark-color;
            text-decoration: none;
            border: none;
        }
    }

    &__link {
        font-size: 24px;
        color: $gray-color;
        border-style: solid;
        border-width: 0px 0px 2px 0px;
        -moz-border-image: url(../images/border.svg) 0 5 1 5 repeat repeat;
        -webkit-border-image: url(../images/border.svg) 0 5 1 5 repeat repeat;
        -o-border-image: url(../images/border.svg) 0 5 1 5 repeat repeat;
        border-image: url(../images/border.svg) 0 5 1 5 repeat repeat;
    }
}

// /. categories-list

.products-slider {

    .swiper-slide {
        width: 334px;
        height: auto;
    }
}

// /. products-slider

.product-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ECF0F4;
    border-radius: 5px;
    height: 100%;

    &__preview {
        position: relative;
        background-color: $white-color;
        border-radius: 5px 5px 0 0;
        flex: 0 0 334px;
        width: 100%;
        overflow: hidden;
    }

    &__image {
        width: 100%;
        height: 100%;

        img {
            height: 100%;
            width: 100%;
        }
    }

    &__icons {
        display: flex;
        flex-direction: column;

        position: absolute;
        top: 0;
        right: 0;
        left: auto;
        margin: 20px;
    }

    &__icon {

        display: flex;
        align-items: center;
        justify-content: center;

        width: 34px;
        height: 34px;

        background-color: $white-color;
        border-radius: 50px;

        &:not(:last-child) {
            margin-bottom: 5px;
        }
    }

    &__tag {
        position: absolute;
        top: 0;
        left: 0;
        right: auto;
        margin: 20px;
        width: 50px;
        height: 50px;
        overflow: hidden;
    }

    &__information {
        padding: 10px 25px 25px 25px;
        background-color: $white-color;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    &__name {
        color: $dark-color;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        flex: 1 1 auto;
    }

    &__price {
        justify-content: center;
        margin: 4px 0 10px 0;
    }

    &__confirmation {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__counter {
        margin-right: 8px;
    }

    &__button {

        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $gold-color;
        border-radius: 5px;
        padding: 15px;

        font-size: 14px;
        font-weight: 500;
        color: $dark-color;

        flex: 1 1 auto;

        svg {
            margin-right: 12px;
        }
    }
}

// /. product-card

.price {

    display: flex;
    align-items: center;

    :not(:last-child) {
        margin-right: 10px;
    }

    &__value {
        font-size: 20px;
        line-height: 22px;
        font-weight: 700;
        color: $dark-color;
        text-decoration: none;
    }

    &__value_old {
        font-size: 14px;
        font-weight: 400;
        color: $gray-color;
        text-decoration: line-through;
    }
}

// /. price

.counter {
    display: flex;
    align-items: center;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #ECF0F4;
    padding: 10px 8px;

    &__button {
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        overflow: hidden;
        flex-shrink: 0;

        svg {
            fill: #8D9295;
            transform: scale(1);
        }
    }

    &__button_minus {

        &:active svg {
            fill: #f003;
            transform: scale(1.05);
        }
    }

    &__button_plus {
        stroke: #8D9295;

        &:active svg {
            stroke: #3f0;
            transform: scale(1.05);
        }
    }

    &__number {
        font-size: 14px;
        color: #4C4E50;
        margin: 0 2px;
        width: 20px;
        text-align: center;
    }
}

// /. counter


// /. products